* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hedding {
    text-align: center;
    font-size: 45px;
    background-color: brown;
    color: aliceblue;
}

.container {
    height: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    gap: 5px;
}

.container div{
    height: 200px;
    width: 300px;
    margin-top: 10px;
    background-color: black;
    color: white;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(165, 159, 159);
}

div h3 {
    text-align: center;
}

div h4 {
    text-align: center;
}

div h5 {
    text-align: center;
}

div h6 {
    text-align: center;
}